services:
  whisper:
    container_name: whisper
    image: ${WHISPER_IMAGE:-mccloud/subgen}:${WHISPER_IMAGE_TAG:-latest}
    profiles: ["${WHISPER_PROFILE:-quality}"]
    extends:
      file: ../compose.extend.yaml
      service: "gpu-${USE_GPU:-none}"
    restart: unless-stopped
    networks:
      - external
      - internal
    # depends_on:
    #   bazarr:
    #     condition: service_started
    #     restart: false
    logging:
      driver: "json-file"
      options:
        max-size: "1m"
        max-file: "3"
    environment:
      # APPEND: "False"
      # CLEAR_VRAM_ON_COMPLETE: "True"
      # CONCURRENT_TRANSCRIPTIONS: "2"
      # CUSTOM_MODEL_PROMPT: ""
      # CUSTOM_REGROUP: "cm_sl=84_sl=42++++++1"
      DEBUG: "False"
      DETECT_LANGUAGE_LENGTH: "120"
      # JELLYFINSERVER: "http://jellyfin:8096"
      # JELLYFINTOKEN: "${JELLYFIN_TOKEN}"
      # LRC_FOR_AUDIO_FILES: "True"
      LOG_LEVEL: "warn"
      # MODEL_PATH: "./models"
      # NAMESUBLANG: "aa"
      # PATH_MAPPING_FROM: "/tv"
      # PATH_MAPPING_TO: "/Volumes/TV"
      PLEXSERVER: "https://plex.$DOMAIN:443"
      PLEXTOKEN: "${PLEX_TOKEN}"
      # PROCADDEDMEDIA: "True"
      # PROCMEDIAONPLAY: "False"
      SHOW_IN_SUBNAME_MODEL: "False"
      SHOW_IN_SUBNAME_SUBGEN: "False"
      SKIPIFINTERNALSUBLANG: "xxxxx"
      TRANSCRIBE_DEVICE: "cuda"
      TRANSCRIBE_FOLDERS: "/data/movies" #|/data/tv"
      # UPDATE: "False"
      # USE_MODEL_PROMPT: "False"
      # USE_PATH_MAPPING: "False"
      # WEBHOOKPORT: "9000"
      # WHISPER_THREADS: "4"
      WHISPER_MODEL: "distil-large-v3.5"
      # WORD_LEVEL_HIGHLIGHT: "False"
    volumes:
      - "/etc/localtime:/etc/localtime:ro"
      - "./config:/subgen/models"
      - "$PATH_MOVIES:/data/movies"
      - "$PATH_TV:/data/tv"
    labels:
      - "com.centurylinklabs.watchtower.monitor-only=true"

      - "deunhealth.restart.on.unhealthy=false"

      - "homepage.group=Tools"
      - "homepage.name=Whisper"
      - "homepage.icon=/images/whisper.png"
      - "homepage.description=Audio transcaription"

      - "traefik.enable=false"
